* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    text-align: center;
    padding: 30px 0px;
    background-color: rgb(0, 0, 190);
    color: seashell;
}

nav {
    background-color: rgb(0, 153, 255);
}

nav li {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px -4px 10px 10px;
    background-color: silver;
    border-radius: 4px;
}

li a {
    text-decoration: none;
    color: blue;
}

article {
    display: inline-block;
    width: 74%;
    text-align: justify;
    padding: 2%;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(0, 0, 190);
    color: whitesmoke;
}

aside {
    display: inline-block;
    position: absolute;
    width: 15%;
    text-align: justify;
    padding: 2%;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(0, 0, 190);
    color: whitesmoke;
}

table {
    display: inline-block;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    text-align: center;
}

.stoma1 {
    position: relative;
    display: inline-block;
    width: 330px;
    border-radius: 10px;
    transform: scaleX(-1);
}

.stoma2 {
    width: 30%;
    border-radius: 10px;
}

.stoma3 {
    width: 30%;
    border-radius: 10px;
}

.sec1 {
    display: inline-block;
}

.sec2 {
    display: inline-block;
    position: relative;    
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 50px 0px;
    background-color: rgb(0, 0, 190);
    color: seashell;
}