.super-mario {
    width: 200px;
  }
  
.goomba {
  width: 100px;
  position: absolute;
  top: 338px;
  left: 100px;
}

.baloon {
  width: 100px;
  position: absolute;
  left: 300px;
  top: 100px;
}

.speach {
  font-size: 9px;
  position: absolute;
  top: 113px;
  left: 304px;
  z-index: 1;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 400px;
  top: 100px;
}