html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 15px;
  font-size: 20px;
  background-color:rgb(251, 237, 217);
}

header h1 {
  margin: 5px -10px 0px -10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #ebbd81;
  text-align: center;
  font-size: 30px;
  text-shadow: 1px 1px 5px #6d6868;
  box-shadow: 5px 5px 10px rgb(211, 173, 123)
}

header nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 50px;
}

header nav ul li {
  background-color: #ebbd81;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  list-style: none;
  font-size: 16px;
  text-shadow: 1px 1px 5px #6d6868;
  box-shadow: 3px 3px 5px burlywood;
}

aside h2 {
  font-size: 25px;
  padding: 2px 10px;
}

.aside-one, .aside-two {
  background-color: #ebbd81;
  border-radius: 5px;
  box-shadow: 3px 3px 5px burlywood;
}

.main-content div {
  display: flex;
  justify-content: center;
}

.main-content img {
  width: 280px;
  border-radius: 10px;
  box-shadow: 8px 8px 10px burlywood;
  margin-top: 30px;
}

.main-content h1 {
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
}

.main-content p {
  text-align: justify;
}

footer {
  margin: 10px -15px -10px -15px;
  padding: 10px;
  color: white;
  background-color: #856338;
}

@media screen and (min-width: 768px) {
  header h1 {
    margin: 10 -20px;
    padding: 10;
  }

  header nav ul {
    justify-content: center;
    margin-top: 50px;
  }

  header nav ul li {
    margin: 0 10px;
  }

  .container section {
    display: flex;
    justify-content: space-around;
  }

  .aside-one h2, .aside-two h2 {
    text-align: center;
  }
}

/* @media screen and (min-width: 1025px) {

} */
